1.	Write a Python Program to Add Two Matrices?
2.	Write a Python Program to Multiply Two Matrices?
3.	Write a Python Program to Transpose a Matrix?
4.	Write a Python Program to Sort Words in Alphabetic Order?
5.	Write a Python Program to Remove Punctuation From a String?

In [15]:
#Write a Python Program to Add Two Matrice?
X = [[1, 7],
     [3, 5],
     [6, 8]]
Y = [[1, 1],
     [7, 3],
     [ 5, 9]]
import pandas as pd
x=pd.DataFrame(X)
y=pd.DataFrame(Y)
x+y

    0   1
0   2   8
1  10   8
2  11  17

In [18]:
#Write a Python Program to Multiply Two Matrices?
import numpy as np
np.dot(x.T,y)

array([[52, 64],
       [82, 94]], dtype=int64)

In [19]:
# Write a Python Program to Transpose a Matrix?
x.T

   0  1  2
0  1  3  6
1  7  5  8

In [84]:
# Write a Python Program to Sort Words in Alphabetic Order?
lst=['a','x','y','e','f','n','q','g']
lst.sort()
print(lst)

['a', 'e', 'f', 'g', 'n', 'q', 'x', 'y']

In [90]:
#Write a Python Program to Remove Punctuation From a String?
string = 'S{ar:a.d m_ishra'
for i in string:
    if i.isalpha():
        print(i,end='')

Saradmishra

97